body {
    padding-top: 55px;
}

#result img {
    max-width: 100%;
}

.card input[type="number"] {
    width: 25%;
}

.header {
    background: url("../imgs/header.jpg") no-repeat;
    background-position: 0 0, center;
    background-size: 100% auto;
    /*height: 600px;*/
    width: 100%;
    padding: 4em;
}

footer {
    border-top: solid 1px #fff;
}

.header-card, .header-card img {
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;

}
.header-card img {
    width: 160px;
    height: auto;
    background: rgba(255, 255, 255, .7);
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #fafafa;
}
